# LISTS

### * ordered
### * changeable
### * allow duplicates

In [1]:
a = 0
# str = "vignesh"

# print(str[0])

class_boys = ["vignesh", "akash" ]

print(class_boys)

class_boys.append("dinesh")

print(class_boys)

class_boys.remove("dinesh")

print(class_boys)

class_boys.append("vignesh")

print(class_boys)

['vignesh', 'akash']
['vignesh', 'akash', 'dinesh']
['vignesh', 'akash']
['vignesh', 'akash', 'vignesh']

In [2]:
list1 = ["ahghghgghg", 1, 1.0, ['vignesh', 'akash', 'dinesh'], { "key": "value", "number" : 12} , ('vignesh', 'akash', 'dinesh') , {'vignesh', 'akash', 'dinesh'}]

print(type(list1))

print(list1[4])

<class 'list'>
{'key': 'value', 'number': 12}

In [6]:
num = int(1)
print(type(num))

nums = { "key": "value", "number" : 12}

test = list(nums)
print(test)

<class 'int'>
['key', 'number']

In [19]:
names = ['vignesh', 'akash', 'dinesh']

print(names[:-1])

['vignesh', 'akash']

In [41]:
class10_boys_names = ['vignesh', 'akash', 'dinesh', "vijay"]

name = "vijay"

if name in class10_boys_names:
    print(f"{name} exists in names")
else:
    print(f"{name} not exists in names")
    
    
    
# print(name in names )

vijay exists in names

In [43]:
names = ['akash', 'dinesh' ,'vignesh']

new_student = "bala"

# names.append(new_student)

names.insert(1, new_student )

print(names)

['akash', 'bala', 'dinesh', 'vignesh']

In [3]:
names = ['akash', 'dinesh' ,'vignesh']

names[2] = 'deepak'

names

['akash', 'dinesh', 'deepak']

In [64]:
names = ['akash', 'dinesh' ,'vignesh']

print(names.sort())

None

In [71]:
classa = ['akash', 'dinesh' ,'vignesh']
classb = ('vijay', 'deepak' ,'vishal')

classa.extend(classb)
print(classa)

['akash', 'dinesh', 'vignesh', 'vijay', 'deepak', 'vishal']

In [77]:
classa = ['akash', 'dinesh' ,'vignesh']

classa.pop(1)

classa

['akash', 'vignesh']

In [78]:
classa = ['akash', 'dinesh' ,'vignesh']

classa.clear()

classa

[]

In [80]:
classa = ['akash', 'dinesh' ,'vignesh']

classa.reverse()

classa

['vignesh', 'dinesh', 'akash']

In [81]:
classa =['vignesh', 'akash', 'dinesh', "vijay"]

classa.sort()

classa

['akash', 'dinesh', 'vignesh', 'vijay']

In [4]:
# str1 = "121212"

# str1[0] = '10'

TypeError: 'str' object does not support item assignment