# Tuples

### * ordered
### * unchangeable
### * allow duplicates

In [8]:
class_boys = ("vignesh", "akash" )

class_boysa = ["vignesh", "akash" ]



# class_boys[0] = "Akash"
class_boys[1] = class_boysa[1].upper()


class_boysa

TypeError: 'tuple' object does not support item assignment

In [11]:
tuple1 = ("ahghghgghg", 1, 1.0, ['vignesh', 'akash', 'dinesh'], { "key": "value", "number" : 12} , ('vignesh', 'akash', 'dinesh') , {'vignesh', 'akash', 'dinesh'})

print(type(tuple1))

print(tuple1[3][1].upper())

<class 'tuple'>
AKASH

In [6]:
num = int(1)
print(type(num))

nums = { "key": "value", "number" : 12}

test = list(nums)
print(test)

<class 'int'>
['key', 'number']

In [14]:
names = ('vignesh', 'akash', 'dinesh')

print(names[::-1])

('dinesh', 'akash', 'vignesh')

In [16]:
class10_boys_names = ('vignesh', 'akash', 'dinesh', "vijay")

name = "vijay1"

if name in class10_boys_names:
    print(f"{name} exists in names")
else:
    print(f"{name} not exists in names")
    
    
    
# print(name in names )

vijay1 not exists in names

In [17]:
names = ('akash', 'dinesh' ,'vignesh')

names[2] = 'deepak'

names

TypeError: 'tuple' object does not support item assignment

In [19]:
a = list((1,2,3))
b= str(1)
c = int("2")

names = ('akash', 'dinesh' ,'vignesh')

list1 = list(names)
list1[2] = 'deepak'

names = tuple(list1)
names

('akash', 'dinesh', 'deepak')

In [20]:
names = ('akash', 'dinesh' ,'vignesh') #vishal

list1 = list(names)

list1.append("vishal")

names = tuple(list1)
names

('akash', 'dinesh', 'vignesh', 'vishal')

In [22]:
names = ('akash', 'dinesh', 'vignesh', 'vishal')

list1 = list(names)
list1.remove("vishal")
names = tuple(list1)
names

('akash', 'dinesh', 'vignesh')

In [24]:
names = ('akash', 'dinesh', 'vignesh', 'vishal')
del  names

names

NameError: name 'names' is not defined

In [1]:
classa =('akash', 'dinesh' ,'vignesh')

classa[-1]

'vignesh'

In [30]:
classa =('vignesh', 'dinesh', 'akash')
classa = list(classa)
classa.sort()
classa = tuple(classa)
classa

('akash', 'dinesh', 'vignesh')

In [32]:
classa =('vignesh', 'dinesh', 'akash')

classa.index("vignesh")

0

In [35]:
classa =('vignesh','vignesh', 'vignesh',  'dinesh', 'akash')

classa.count("vignesh")

3

In [36]:
numbers = [ 1,1,1, 2, 3]

numbers.count(1)

3

In [44]:
numbers = ( 1,1,1, 2, 3)
x , *y , z = numbers

x,y,z

(1, [1, 1, 2], 3)