In [1]:
# LOOPS

In [15]:
for i in range(1):
    print(i)

0

In [17]:
classa = ['akash', 'dinesh' ,'vignesh', 'vijay', 'deepak' ,'vishal']

classa[0]

for i in classa:
    print(i.title())

Akash
Dinesh
Vignesh
Vijay
Deepak
Vishal

In [19]:
classa = ['akash', 'dinesh' ,'vignesh', 'vijay', 'deepak' ,'vishal']


for i in range(len(classa)):
    print(classa[i].title())

Akash
Dinesh
Vignesh
Vijay
Deepak
Vishal

In [34]:
classa = ['akash', 'dinesh' ,'vignesh', 'vijay', 'deepak' ,'vishal']

i = 0

while i < len(classa):
    print(classa[i].title())
    i +=1

Akash
Dinesh
Vignesh
Vijay
Deepak
Vishal

In [35]:
# List Comprehension

In [47]:
classa = ['akash', 'dinesh' ,'vignesh', 'vijay', 'deepak' ,'vishal']
titled_classa = []
for i in classa:
    if  i == "deepak":
        titled_classa.append(i.title())\
        
print(titled_classa)

['Deepak']

In [48]:
classa = ['akash', 'dinesh' ,'vignesh', 'vijay', 'deepak' ,'vishal']
titled_classa = [ i.title() for i in classa  if i == "deepak"   ]

print(titled_classa)

['Deepak']